.shows-list-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }

  
  
  .shows-list-title {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .shows-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
  }
  
  .show-card {
    border-radius: 4px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
  }
  
  .show-card:hover {
    transform: scale(1.05);
  }
  
  .show-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  .show-details {
    padding: 10px;
    background-color: #fff;
  }
  
  .show-name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .show-summary-button {
    background-color: #e50914;
    color: #fff;
    border: none;
    padding: 8px 12px;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  .show-summary-button:hover {
    background-color: #d10811;
  }
  